img{
	/*max-width: 100%;*/
}
.toon-row{
	position: relative;
}
.toon-frame{
	/*max-width: 300px;*/
	height: 200px;
	display: inline-block;
	vertical-align: top;
	border: 3px solid grey;
	margin: 5px;
	position: relative;
}
img.frame-img{
	/*height: 300px;*/
	max-height: 100%;
}




.toon-row label{
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 9;
	color: white;
	background: rgba(0, 0, 0, 0.7);
}

input.pw{
	font-size: 1.5rem;
	margin-bottom: 20px;
}

#big-action{
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
}

.game-frame{
	border: 3px solid green;
}

.toon-frame .rm{
	position: absolute;
	top: 0;
	right: 0;
}

.frame-dims{
	position: absolute;
	top: 0;
	right: 50px;
}
