.modal{
	position: fixed;
	z-index: 99999;
	top: 0px;
	left: 0px;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: rgba(0, 0, 0, .5);
}
.modal-close{
	position: absolute;
	z-index: 9;
	top: 0px;
	right: 0px;
	cursor: pointer;
	height: 30px;
	width: 30px;
    font-size: 2.3rem;
}
.modal-close:hover{
/* 	background: white; */
/* 	color: black; */
}


.modal-content{
	position: absolute;
	background: var(--bright-grey);
	background: white;
	border: 2px solid #303030;
	padding: 20px;
	margin-top: 30px;
	width: 100%;
	max-width: 900px;
	max-height: calc(95vh - 30px);
	z-index: 9;
	
	padding-top: 30px;
	border-radius: 10px;
	text-align: left;

	border: 2px solid;

	overflow-y: auto;

}
.modal-liner{
	/* border: 2px solid green; */
	overflow-y: auto;
	/* height: 100%; */
	/* min-height: 50vh; */
	position: relative;
	max-height: calc(95vh - 30px);
}
.dark .modal-content{
	background: var(--dark-bg);
	color: var(--dark-text);
	border: 2px solid black;
}

.modal input,
.modal textarea{
    margin: 0px;
}
.modal textarea{
	margin-bottom: 20px;
}

.modal h1,
.modal h2,
.modal h3{
    color: white;
}
.modal .modal-header {
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 25px;
}
.modal .column h3.column-header{
	margin-top: 0;
}
/* .modal-row */
.modal .column{
	padding: 10px;
}
.modal .left-panel{
}
.modal .right-panel{
/* 	background: rgba(255, 255, 255, .05); */
/* 	background: rgba(0, 0, 0, .5); */
/*     border: 1px solid; */
}
.left-panel,
.right-panel{
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}


.modal textarea,
.modal input{
	width: 100%;
	max-width: 100%;
}
.modal label{
	display: inline-block;
}


.modal.has-columns .modal-content{
	overflow-y: hidden;
/* 	position: relative; */
/* 	height: 100% */
}
.modal.has-columns .column{
	overflow-y: auto;
/* 	height: 20vh; */
/* 	max-height: 40vh !important; */
}



.modal.lightbox{
	background: rgba(0, 0, 0, .9);
}
.modal.lightbox .modal-content{
	background: transparent;
	border: 0px;
	max-width: 1000px;
	margin-top: 0;
	height: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
}
.modal.lightbox .modal-close{
	right: 5;
	top: 5;
}
.modal .lightbox-main img{
	max-width: 100%;
}

.inner-content{
	height: calc(100vh - 150px);
	overflow-y: auto;
	/* border: 2px solid green; */
}

.pop-item .modal-content{
	max-width: 1500px;
}
.pop-item .button.help{
	position: absolute;
	top: 28px;
	left: 25%;
	padding: 5px 10px;
}
.pop-item .expl{
	font-weight: bold;
	text-align: left !important;
	/* border: 1px solid; */
}

.algo-created{
	text-align: right;
}



@media screen and (max-width: 800px){
	.modal-content{
		max-width: 96%;
		padding-left: 10px;
		padding-right:10px;
	}
	.modal-close{
		font-size: 2rem;
	}
	.modal-close{
		width: 40px;
		height: 40px;
	}
	.pop-item .button.help{
		top: 0;
	}
	.modal-content{
		max-height: 98vh;
		margin-top: 1vh;
	}
	.left-panel{
		border: 1px solid;
		border-radius: 4px;
	}
}